<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Last date modified</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let template of templatesList; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td [routerLink]="['/template', template.id]">{{template.name}}</td>
                <td>{{template.modified}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>
